/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
	font-family: PFAgoraSlabPro; /* ��������� ������ */
	src: url(../fonts/PFAgoraSlabPro-Reg.ttf); /* ���� � ����� �� ������� */
}

@font-face {
	font-family: Lobster; /* ��������� ������ */
	src: url(../fonts/lobster.ttf); /* ���� � ����� �� ������� */
}

@font-face {
	font-family: PFAgoraSlabProItalic; /* ��������� ������ */
	src: url(../fonts/ufonts.com_pfagoraslabpro-italic.ttf); /* ���� � ����� �� ������� */
}

@font-face {
	font-family: PFAgoraSansbPro; /* ��������� ������ */
	src: url(../fonts/PFAgoraSansPro-Reg.ttf); /* ���� � ����� �� ������� */
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

body {
	font: 12px/18px PFAgoraSlabPro, sans-serif;
	width: 100%;
	background: url(../images/background.jpg) repeat-y;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	background: #ffffff;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	padding: 30px 60px 0 60px;
}

.header .cabriolet {
	color: #f15ba5;
	font-size: 24px;
	font-family: PFAgoraSlabPro;
	float: left;
	margin-top: 45px;
}

.header .phone_block {
	float: right;
	margin-top: 23px;
}

.header .phone_block .phone{
	font-size: 24px;
	font-family: PFAgoraSlabPro;
}

.header .order_button {
	margin-top: 10px;
}

.order_button{
	background: url(../images/order_button.png) no-repeat;
	width: 193px;
	height: 34px;
	cursor: pointer;
}

.send_mail_button{
	background: url(../images/send_mail.png) no-repeat;
	width: 193px;
	height: 34px;
	cursor: pointer;
}

.logo {
	margin: 0 auto;
	width: 292px;
}

.header .menu {
	margin-top: 25px;
	border-top: 1px solid #9a9a9a;
	padding: 15px 0;
	background: url(../images/point.png) no-repeat right 21px;
	
}

.header .menu ul li {
	float: left;
	font-size: 20px;
	padding: 0px 33px;
	background: url(../images/point.png) no-repeat 0 6px;
}

.header .menu ul li a {
	color: #000000;
	text-decoration: none;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
}

.gallery {
	position: relative;
	height: 500px;
}

.gallery .ul_container {
	overflow: hidden;
}

.gallery ul {
	width: 5000px;
	position: relative;
}

.gallery ul li {
	height: 500px;
	float: left;
}

.gallery .left_arrow,
.gallery .right_arrow  {
	width: 58px;
	height: 57px;
	position:absolute;
	top: 222px;
	cursor: pointer;
	z-index: 1;
}

.gallery .left_arrow {
	background: url(../images/left_arrow.png) no-repeat;
	left: -28px;
}

.gallery .right_arrow {
	background: url(../images/right_arrow.png) no-repeat;
	right: -28px;
}

.lt_corner {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.rt_corner {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.b_corner {
	width: 1000px;
	height: 95px;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.lt_corner.white{
	background: url(../images/lt_white_corner.png) no-repeat;
}

.rt_corner.white{
	background: url(../images/rt_white_corner.png) no-repeat;
}

.b_corner.white{
	background: url(../images/b_white_corner.png) no-repeat;
}
.b_corner.pink{
	background: url(../images/b_pink_corner.png) no-repeat;
}

.lt_corner.litepink{
	background: url(../images/lt_litepink_corner.png) no-repeat;
}

.rt_corner.litepink{
	background: url(../images/rt_litepink_corner.png) no-repeat;
}

.b_corner.litepink{
	background: url(../images/b_litepink_corner.png) no-repeat;
}

.b_corner.lilac{
	background: url(../images/b_lilac_corner.png) no-repeat;
}

.work {
	height: 360px;
	background: #f15ba5;
}

.work .header {
	font-family: Lobster;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	padding: 40px 0 0 0;
}

.work .steps {
	background: url(../images/work_icons.png) no-repeat;
	width: 900px;
	height: 100px;
	margin: 30px auto;
}

.work .steps li{
	float: left;
	width: 180px;
}

.work .steps .step_1{
	width: 145px;
}

.work .steps .step_2{
	width: 145px;
	margin-left: 42px;
}

.work .steps .step_3{
	width: 210px;
	margin-left:12px;
}

.work .steps .step_4{
	width: 150px;
	margin-left: 6px;
}

.work .steps .step_5{
	width: 145px;
	margin-left: 40px;
}

.work .step_header {
	color: #ffffff;
	font-family: PFAgoraSlabPro;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
	margin: 110px 0 35px 0;
}

.work .step_text {
	color: #0000000;
	font-family: PFAgoraSlabPro;
	font-size: 18px;
	text-align: center;
	line-height: 24px;
}

.service {
	height: 740px;
}

.service .header {
	font-family: Lobster;
	font-size: 36px;
	color: #8b1e8b;
	text-align: center;
	padding: 40px 0 0 0;
}

.service .service_list {
	margin: 45px 6px;
}

.service .service_list .item {
	float: left;
	margin: 0 57px 50px 57px;
	width: 215px;
}

.service .service_list .item .img_container{
	width: 207px;
	height: 200px;
	position: relative;
	overflow: hidden;
	margin: 0 4px;
}

.service .service_list .item .img_container .border {
	background: url(../images/m_border.png);
	width: 207px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}


.service .service_list .item .service_list_item_header,
.service .service_list .item .service_list_item_text {
	font-size: 18px;
	text-align: center;
}

.service .service_list .item .service_list_item_header {
	font-weight: bolder;
	text-transform: uppercase;
	margin-top: 17px;
}

.about {
	position: relative;
	background: url(../images/about.jpg);
	height: 560px;
}

.about .header {
	font-family: Lobster;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	padding: 40px 0 30px;
}

.about .text {
	margin: 0 auto;
	width: 555px;
	font-size: 18px;
	line-height: 22px;
	text-align: justify;
}

.action {
	width: 945px;
	height: 400px;
	background: url(../images/action_backgroud.png);
	position: relative;
	left: -14px;
	margin-top: 40px;
}

.action .header {
	font-family: Lobster;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	padding: 27px 0 0 80px;
}

.action .present {
	text-transform: uppercase;
	font-size: 24px;
	color: #8b1e8b;
	float: left;
	width: 200px;
	text-align: center;
	line-height: 26px;
	margin: 80px 0 0 130px;
}

.action .right_block {
	float: right;
	font-size: 18px;
	color: #eb546d;
	width: 240px;
	margin: 55px 30px 0 0;
}

.action .right_block .timer_block {
	text-align: center;
}

.action .right_block .timer_block .timer_counter {
	margin-top: 10px;
}

.action .right_block .timer_block .timer_counter .days,
.action .right_block .timer_block .timer_counter .hours,
.action .right_block .timer_block .timer_counter .minuts {
	float: left;
	width: 67px;
	margin-right: 10px;
}

.action .right_block .timer_block .timer_counter .timer_num {
	float: left;
	width: 32px;
	height: 32px;
	background: url(../images/timer_border.png);
	line-height: 32px;
	color: #565656;
	font-size: 13px;
	font-family: arial;
	font-weight: bolder;
}

.action .right_block .timer_block .timer_counter #day2,
.action .right_block .timer_block .timer_counter #hour2,
.action .right_block .timer_block .timer_counter #minut2 {
	margin-left: 3px;
}


.action .right_block .action_submit_block {
	padding-top: 30px;
	width: 220px;
}

.action .right_block .action_submit_block .input_text_container {
	margin: 0 auto;
}

.action .right_block .action_submit_block .input_text_container.phone {
	margin-top: 10px;
}

.action .right_block .action_submit_block .order_button{
	margin-top: 10px;
	margin: 10px auto 0;
}

.input_text_container {
	width: 204px;
	height: 36px;
	background: url(../images/input_text.png);
	position: relative;
}

.input_text_container.big {
	width: 254px;
	height: 36px;
	background: url(../images/input_text_big.png);
	position: relative;
}

.input_text_container .icon {
	width: 14px;
	height: 14px;
	padding: 12px;
	position: absolute;
}

.input_text_container.name .icon {
	background: url(../images/user_icon.png) no-repeat 60% 50%;
}

.input_text_container.phone .icon {
	background: url(../images/phone_icon.png) no-repeat 60% 50%;
}

.input_text_container input {
	border: medium none;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 2px;
    padding: 8px 5px 2px;
    width: 146px;
}

.input_text_container input:focus {
	box-shadow: none;
}

.input_text_container.big input {
    width: 196px;
}


.input_textarea_container {
	width: 524px;
	height: 133px;
	background: url(../images/textarea.png);
	position: relative;
}

.input_textarea_container textarea {
	border: medium none;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 2px;
    padding: 5px;
    width: 468px;
	height: 118px;
	resize: none;
}

.input_textarea_container textarea:focus {
	box-shadow: none;
}

.portfolio {

}

.portfolio .header {
	font-family: Lobster;
	font-size: 36px;
	color: #8B1E8B;
	text-align: center;
	padding: 10px 0 40px;
}

.portfolio .item {
	position: relative;
}

.portfolio .item .foto {
	position: relative;
}

.portfolio .item.litepink {
	background: #F8B2D5;
}

.portfolio .item.lilac {
	background: #C289C2;
}

.portfolio .item .bubble {
	background: url(../images/bubble.png);
	width: 463px;
	height: 215px;
	position: absolute;
	bottom: 60px;
	left: 267px;
	z-index: 2;
}

.portfolio .item .author {
	padding-top: 181px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bolder;
	padding-bottom:30px;
}

.portfolio .item .bubble .text{
	position: relative;
	margin: 32px 65px;
	height: 114px;
	font-size: 14px;
	text-align: justify;
}

.portfolio .item .bubble .text .left_quote {
	width: 21px;
	height: 20px;
	position: absolute;
	top: -15px;
	left: -30px;
}

.portfolio .item .bubble .text .right_quote {
	width: 21px;
	height: 20px;
	position: absolute;
	bottom: -23px;
	right: -30px;
}

.portfolio .item .bubble .text .left_quote.pink {
	background: url(../images/left_quote_pink.png);
}

.portfolio .item .bubble .text .right_quote.pink {
	background: url(../images/right_quote_pink.png);
}

.portfolio .item .bubble .text .left_quote.lilac {
	background: url(../images/left_quote_lilac.png);
}

.portfolio .item .bubble .text .right_quote.lilac {
	background: url(../images/right_quote_lilac.png);
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	background: #ffffff;
	padding: 35px 0 40px 0;
}

.footer .logo_block {
	float: left;
	padding: 0 66px;
}

.footer .logo_block .logo {
	margin-bottom: 40px;
}

.footer .logo_block .phone,
.footer .logo_block .email{
	font-size: 26px;
	padding: 3px 0 0 35px;
	margin: 10px 0;
}

.footer .logo_block .phone {
	background: url(../images/phone_icon_lilac.png) no-repeat;
}

.footer .logo_block .email {
	background: url(../images/email_icon_lilac.png) no-repeat;
}

.footer .logo_block .email a{
	color: #000000;
	font-family: PFAgoraSlabProItalic;
}

.footer .send_mail_block {
	margin: 0 52px 0 424px;
}

.footer .send_mail_block .input_text_container,
.footer .send_mail_block .input_textarea_container {
	float: left;
}

.footer .send_mail_block .input_textarea_container {
	margin-top: 30px;
}

.footer .send_mail_block .input_text_container.phone {
	margin-left: 16px;
}

.footer .send_mail_block .send_mail_button {
	float: right;
	margin-top: 18px;
}

.clear {
	clear: both;
}

.modal .modal-header .header {
	font-family: Lobster;
	font-size: 36px;
	color: #8b1e8b;
	text-align: center;
	padding: 15px 0;
}

.modal .modal-body .send_mail_block .input_text_container {
	float: left;
} 

.modal .modal-body .send_mail_block .input_textarea_container {
	margin-top: 30px;
}

.modal .modal-body .send_mail_block .input_text_container.phone {
	margin-left: 16px;
}